<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>
    <div class="container">
    <h1>Weather App</h1>
    <form method="POST">

        <input type = "text" name="city" placeholder="Enter City Name" required>
        <button type="submit">Get Weather</buttton>
    </form>

    {% if weather_data %}
        {%if weather_data.cod != '404' %}
            <div class="weather-result">
                <h2>Weather in {{weather_data.name}}</h2>
                <p>Temperature :  {{weather_data.main.temp}}°C</p>
                <p>Pressure : {{weather_data.main.pressure}}%</p>
                <p>Humidity : {{weather_data.main.humidity}}</p>
                <p>Description : {{weather_data.weather[0].description.capitalize() }}</p>

            </div>

        {% else %}
            
            <p class="error">City not found!</p>

        {% endif %}

    {% endif %}

    </div>

</body>
</html>






