body {
    background-color: rgb(229, 220, 220);
    
}

.container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #d2a3bf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

h1{
    text-align: center;
    color:rgb(108, 6, 6);
    
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 3px;
}

input[type="text"]{
    width: 45%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #262323;
    border-radius: 20px;
}

button{
    padding: 10px 20px;
    background-color: rgb(171, 108, 164);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}


.weather-result{
    
    text-align: center;
}

.error{
    color: rgb(53, 49, 49);
    text-align: center;
}